/*

Lavish HTML CSS Template

https://templatemo.com/tm-458-lavish
		
*/

body
{
	background: hsl(228, 5%, 18%);
	color: #999;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 400;
}


/* start all section */
#home,
#home .fp-slide,
#home .fp-tableCell,

#work,
#work .fp-slide,
#work .fp-tableCell,

#about,
#about .fp-slide,
#about .fp-tableCell,

#contact,
#contact .fp-slide,
#contact .fp-tableCell,

#portfolio,
#portfolio .fp-slide,
#portfolio .fp-tableCell,

footer,
footer .fp-slide,
footer .fp-tableCell
{
    height: auto !important;
}

/* end all section */

/* start all heading */
h1,h2,h3,h4,h5
    {
        color: #ffffff;
        font-weight: bold;
    }
/* end all heading */

/* start all section */
#work, #about, #portfolio, #contact
    {
        padding-top: 100px;
        padding-bottom: 120px;
    }
/* end all section */

/* start simpletextrotator */
.rotating {
  display: inline-block;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
  -moz-transform: rotateX(0) rotateY(0) rotateZ(0);
  -ms-transform: rotateX(0) rotateY(0) rotateZ(0);
  -o-transform: rotateX(0) rotateY(0) rotateZ(0);
  transform: rotateX(0) rotateY(0) rotateZ(0);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-origin-x: 50%;
}

.rotating.flip {
  position: relative;
}

.rotating .front, .rotating .back {
  left: 0;
  top: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.rotating .front {
  position: absolute;
  display: inline-block;
  -webkit-transform: translate3d(0,0,1px);
  -moz-transform: translate3d(0,0,1px);
  -ms-transform: translate3d(0,0,1px);
  -o-transform: translate3d(0,0,1px);
  transform: translate3d(0,0,1px);
}

.rotating.flip .front {
  z-index: 1;
}

.rotating .back {
  display: block;
  opacity: 0;
}

.rotating.spin {
  -webkit-transform: rotate(360deg) scale(0);
  -moz-transform: rotate(360deg) scale(0);
  -ms-transform: rotate(360deg) scale(0);
  -o-transform: rotate(360deg) scale(0);
  transform: rotate(360deg) scale(0);
}

.rotating.flip .back {
  z-index: 2;
  display: block;
  opacity: 1;
  
  -webkit-transform: rotateY(180deg) translate3d(0,0,0);
  -moz-transform: rotateY(180deg) translate3d(0,0,0);
  -ms-transform: rotateY(180deg) translate3d(0,0,0);
  -o-transform: rotateY(180deg) translate3d(0,0,0);
  transform: rotateY(180deg) translate3d(0,0,0);
}

.rotating.flip.up .back {
  -webkit-transform: rotateX(180deg) translate3d(0,0,0);
  -moz-transform: rotateX(180deg) translate3d(0,0,0);
  -ms-transform: rotateX(180deg) translate3d(0,0,0);
  -o-transform: rotateX(180deg) translate3d(0,0,0);
  transform: rotateX(180deg) translate3d(0,0,0);
}

.rotating.flip.cube .front {
  -webkit-transform: translate3d(0,0,100px) scale(0.9,0.9);
  -moz-transform: translate3d(0,0,100px) scale(0.85,0.85);
  -ms-transform: translate3d(0,0,100px) scale(0.85,0.85);
  -o-transform: translate3d(0,0,100px) scale(0.85,0.85);
  transform: translate3d(0,0,100px) scale(0.85,0.85);
}

.rotating.flip.cube .back {
  -webkit-transform: rotateY(180deg) translate3d(0,0,100px) scale(0.9,0.9);
  -moz-transform: rotateY(180deg) translate3d(0,0,100px) scale(0.85,0.85);
  -ms-transform: rotateY(180deg) translate3d(0,0,100px) scale(0.85,0.85);
  -o-transform: rotateY(180deg) translate3d(0,0,100px) scale(0.85,0.85);
  transform: rotateY(180deg) translate3d(0,0,100px) scale(0.85,0.85);
}

.rotating.flip.cube.up .back {
  -webkit-transform: rotateX(180deg) translate3d(0,0,100px) scale(0.9,0.9);
  -moz-transform: rotateX(180deg) translate3d(0,0,100px) scale(0.85,0.85);
  -ms-transform: rotateX(180deg) translate3d(0,0,100px) scale(0.85,0.85);
  -o-transform: rotateX(180deg) translate3d(0,0,100px) scale(0.85,0.85);
  transform: rotateX(180deg) translate3d(0,0,100px) scale(0.85,0.85);
}
/* end simple text rotator */

/* start home */       
#home
	{
        /* background: url('../images/home.JPEG'); */
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 120px;
        padding-bottom: 140px;
        text-align: center;
	}

#home h1
    {
        border: 2px solid #275fa8;
        color: #275fa8;
        display: inline-block;
        letter-spacing: 6px;
        padding: 25px 35px;
        margin: 30px 0;
    }

#home h2.rotate { /* 4/19/25*/
    line-height: 1.2; 
    font-size: 30px; 
    padding-bottom: 10px;
}   

@media (max-width: 768px) { /* 4/19/25*/
    #home h2.rotate {
        font-size: 1.4em; /* Adjust size for smaller screens */
        line-height: 1.4; /* Keep text stable */
    }
}
    
#home .btn
    {
        background: transparent;
        border: 3px solid #ffffff;
        color: #ffffff;
        font-size: 16px;
        font-weight: bold;
        width: 180px;
        height: 60px;
        margin-top: 40px;
        padding-top: 18px;
        transition: all 0.4s ease-in-out;
    }
#home .btn:hover
    {
        background: #275fa8;
        border-color: transparent;
    }
/* end home */

/* start work */
#work
    {
        background: #000000;
    }
#work h2
    {
        text-align: center;
    }

#work .media
    {
      margin-top: 30px;
    }
	
#work .media .fa
    {
        border: 2px solid #ffffff;
        border-radius: 50%;
        color: #275fa8;
        font-size: 24px;
        margin-right: 24px;
        width: 60px;
        height: 60px;
        line-height: 55px;
        text-align: center;
        vertical-align: middle;
        transition: all 0.4s ease-in;
    }
#work .media .fa:hover
    {
        background: #ffffff;
        cursor: pointer;
    }
#work .media .media-heading
    {
        font-weight: 600;
        font-size: 20px;
        padding-bottom: 10px;
    }
/* end work */

/* start about */
#about h4
    {
        padding: 15px 0;
		color: #275fa8;
    }
#about .progress
    {
        border-radius: 4px;
        background: #ffffff;
        height: 4px;
    }
/* #about .progress .progress-bar-danger
    {
        background: #275fa8;
    } */
#about .text-top
    {
        padding-top: 50px;
    }
#about span
    {
        color: #ffffff;
        font-weight: bold;
        display: block;
        padding-bottom: 6px;
    }
#about small {
    font-weight: bold;
    float: right;
}
#about {
    height: 100vh; /* Makes the section cover the full viewport height */
    overflow: hidden; /* Prevents content from spilling outside the section */
}

#about .container {
    height: 100%; /* Ensures the container stretches to match #about */
}

#about .row 
{
    height: 500px;
    align-items: center; 
}  

@media (max-width: 768px) { /* 4/19/25*/
    #about .row {
        height: 300px; 
    }
}  

/* end about */

/* start portfolio */
#portfolio {
    background: #000000;
    text-align: center;
    min-height: 100vh; /* Makes the section cover the full viewport height */
    
}

#portfolio h2 {
    padding-bottom: 30px;
}

#portfolio .portfolio-thumb {
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
}

#portfolio .portfolio-thumb .portfolio-overlay {
    background: #275fa8;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    padding-top: 60px;
    transition: all 0.4s ease-in-out;
}

#portfolio .portfolio-thumb:hover .portfolio-overlay {
    cursor: pointer;
    opacity: 0.8;
    transform: scale(0.9);
}
/* end portfolio */

/* start contact */
#contact
    {
        background: #000000;
        text-align: center;
        min-height: 70vh; /* Makes the section cover the full viewport height */
    }

#contact address
    {
      padding-bottom: 18px;
    }
	
#contact .contact-title
    {
		font-size: 24px;
		font-weight: bold;
        padding-bottom: 20px;
		color: #ffffff;
    }
#contact .fa
    {
        border: 2px solid #ffffff;
        border-radius: 50%;
        color: #275fa8;
        width: 50px;
        height: 50px;
        line-height: 45px;
        text-align: center;
        margin-right: 20px;
    }

#contact .form-control
    {
        background: transparent;
        border: 2px solid #999;
        border-radius: 0;
        box-shadow: none;
        color: #ffffff;
        margin-bottom: 20px;
    }

#contact input
    {
        height: 50px;
    }

#contact input[type="submit"]
    {
        background: #275fa8;
        border: 2px solid transparent;
        color: #ffffff;
        font-weight: bold;
        transition: all 0.4s ease-in-out;
    }

#contact input[type="submit"]:hover
    {
        background: #ffffff;
        color: #275fa8;
    }

#contact .btn
{
    background: transparent;
    border: 2px solid #476fa3;
    color: #476fa3;
    font-size: 16px;
    font-weight: bold;
    width: 120px;
    height: 40px;
    margin-top: 40px;
    padding-top: 6px;
    transition: all 0.4s ease-in-out;
}
#contact .btn:hover {
    background: #102892;
    border: 2px solid #102892;
    color: #83838b;
    font-size: 16px;
    font-weight: bold;
    width: 132px;
    height: 44px;
    margin-top: 40px;
    padding-top: 8px;
} 

/* end contact */

/* start footer */
footer
    {
        border-top: 1px solid #090909;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 20px;
    }
footer hr
    {
        width: 100px;
    }
/* end footer */

/* start social icon */
.social-icon
    {
        position: relative;
        padding: 0;
        margin: 0;
    }
.social-icon li
    {
        display: inline-block;
        list-style: none;
    }
.social-icon li a
    {
        border-radius: 50%;
        color: #606060;
        text-decoration: none;
        transition: all 0.4s ease-in-out;
        text-align: center;
        margin-right: 10px;
    }
.social-icon li a:hover
    {
        color: #275fa8;
    }
/* end social icon */


/* Start of image transition 4/12/25 Jonathan*/
.img-responsive {
    opacity: 0; /* Initially hidden */
    transition: opacity 0.8s ease-in-out; /* Smooth fade effect */
    width: 100%;
    height: 300px;
}

@media (max-width: 768px) { /* 4/19/25*/
    .img-responsive {
        height: 200px; 
    }
}  

.img-responsive.active {
    opacity: 1; /* Fully visible */
}
/* End of image transition */

/* Images slider */
.slider {
    height: 400px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;
}
/* end of image slider */

/* Slider-track 4/13/2025 Jonathan*/
.slide-track {
    display: flex;
    width: calc(250px * 12); /* Adjust based on the number of images */
    animation: scroll 40s linear infinite; /* Adjust speed as needed */
}
@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-250px * 6)); } /* Adjust based on the number of images */
    
}

.slide {
    height: 200px;
    width: 250px; 
    display: flex;
    align-items: center;
    padding: 20px;
    perspective: 80px;
    cursor: pointer; /* Pointer cursor on hover */
}

.slide img {
    width: 100%;
    height: 60%;
   
}

img {
    width: 100%;
    transition: transform 0.9s; /* Smooth transition effect */
}

/* Hover effect */
img:hover {
    transform: translateZ(20px); /* Scale up on hover */
} 
/* End of hover effect */

/* Gradient Shadows */
.slider::before,
.slider::after {
    background: linear-gradient(to right, rgb(16, 15, 17, 1) 0%,
    rgba(235, 229, 229, 0 ) 100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 10%; 
    z-index: 2;
}

.slider::before {
    left: 0;
    top: 0;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg); /* Flip the gradient for the right side */
}
/* End of gradient shadows */

/* Start of the video window 4/16/2025*/
.video-window {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
    margin-top: 0;
}
/* End of the video window*/

#document {
    background: hsl(228, 5%, 18%);
}

#document .docs {
    display: flex; 
    justify-content: center;
    margin: 0;
}

#document .container {
    display: flex;
    justify-content: center;
    height: 100%;
    margin-bottom: 200px;
    border: 2px solid #ddd; 
    padding: 10px; 
}

#plan {
    background: hsl(228, 5%, 18%);
}

#plan .docs {
    display: flex; 
    justify-content: center;
    margin: 0;
}

#plan .container {
    display: flex;
    justify-content: center;
    height: 100%;
    margin-bottom: 200px;
    border: 2px solid #ddd; 
    padding: 10px; 
}
#retrospective {
    background: hsl(228, 5%, 18%);
}

#retrospective .docs {
    display: flex; 
    justify-content: center;
    margin: 0;
}

#retrospective .container {
    display: flex;
    justify-content: center;
    height: 100%;
    margin-bottom: 200px;
    border: 2px solid #ddd; 
    padding: 10px; 
    /* box-shadow: 0 8px 16px #0a0a0a; */
}

#slides {
    background: hsl(228, 5%, 18%);
}

#slides .docs {
    display: flex; 
    justify-content: center;
    margin: 0;
}

#slides .container {
    display: flex;
    justify-content: center;
    height: 100%;
    margin-bottom: 100px;
    border: 2px solid #ddd; 
    padding: 10px; 
}


/* Start of the navigation bar 4/17/2025*/
#navigation { 
    font-family: Arial, sans-serif; 
    margin: 0; 
    padding: 20px; 
    line-height: 1.6; 
}

nav { 
    margin-bottom: 20px; 
}

nav a { 
    margin-right: 15px; 
    text-decoration: none; 
    color: #476fa3; 
}
/* End of the navigation bar */

/* Start of images gallery */
#gallery {
    background: hsl(228, 5%, 18%);
    max-height: 100vh; 
    max-width: 100%;
    overflow-y: auto;  
    /* padding-bottom: 50px; */
    padding: 50px 0%;
}

#gallery .title {
    color: #44495f;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

#gallery .container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 50px 8%; */
}

#gallery .images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

#gallery .images img {
    height: 250px; /* Set the height you want for all images */
    object-fit: cover; /* Ensures the image fills the height while maintaining proportions */
    width: 100%; /* Makes sure images stretch to the container width */
}

#gallery .footer{
        border-top: 0px solid #4d4d4d;
        text-align: center;
        padding-top: 100px;    
    }
/* End of images gallery */